@page
@model WebLuuFile.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}
<h2>@ViewData["Title"]</h2>

<p>Bạn có chắc chắn muốn đăng xuất?</p>

<form method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
